.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 6px;
  background:
    conic-gradient(from 135deg at top,#766DF4 90deg, #0000 0) 0 calc(50% - 4px)/17px 8.5px,
    radial-gradient(farthest-side at bottom left,#0000 calc(100% - 6px),#766DF4 calc(100% - 5px) 99%,#0000) top right/50%  50% content-box content-box,
    radial-gradient(farthest-side at top        ,#0000 calc(100% - 6px),#766DF4 calc(100% - 5px) 99%,#0000) bottom   /100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation:s1 0.5s infinite linear;
  margin: auto;
  
}

@keyframes s1{ 
  100%{transform: rotate(1turn)}
}